/* for mobile view */
@media only screen and (max-width: 700px) {
}

/* for desktopview  */

/* I am using tree structure for styling my components. I have created a folder named header inside component folder and inside header folder I have created header.css file. I have imported this header.css file in header.js file. */
@media only screen and (min-width: 700px) {
  .main-nav {
    width: 100vw;
    background-color: rgba(103, 102, 102, 0.01);
    box-shadow: 0px 15px 10px -15px rgba(31, 31, 32, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2% 4%;
    .mobile_icons {
      display: none;
    }

    .nav-title {
      font-size: 1.5rem;
      font-weight: 700;
      color: #056019;
      width: 50%;
      transition: all 0.4s ease-in-out;

      &:hover {
        color: #056019;
        cursor: pointer;
        display: block;
        transform: scale(0.9);
      }
    }
    .nav-links {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 30%;

      .Header_links {
        color: #056019;
        font-weight: 700;
        font-size: 1.2rem;
        transition: all 0.4s ease-in-out;
        &:hover {
          color: #056019;
          cursor: pointer;
          box-shadow: 0px 15px 10px -15px rgba(31, 31, 32, 0.1);
          display: block;
          transform: scale(1.1);
        }

        .link {
          text-decoration: none;
          color: #056019;
        }
      }
    }
  }
}
